<div class="card">
  <%= link_to image_tag(post.images[0], class: :card__img ), post_path(post.id)%>
  <div class="card__body">
    <%= link_to post.title, post_path(post.id), class: :card__title%>
    <p class="card__summary">
      <%= post.text %>
    </p>
    <div class="card__user">
      by:<%= post.user.nickname%>
    </div>
  </div>
</div>