<div class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h2 class="page-heading">宿レポ編集</h2>
      <%= render partial: "form", locals: { post: @post } %>
      <div id= "item-box-img">
      現在の画像　※新しく画像を選択すると現在の画像は削除されます
        <div class='item-img-content'>
            <% @post.images.each do |image|%>
              <%= image_tag image, class:"item-box-img" %>
            <% end %>
        </div>
</div>

    </div>
  </div>
</div>